{% extends "layout/appLayout.html" %}

{% block title %}Library | Proporties{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Proporties</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Proporties</li>
        </ol>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Price Per Night</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for property in proporties %}
                        <tr>
                            <td>{{ property.title }}</td>
                            <td>{{ property.description }}</td>
                            <td>{{ property.location }}</td>
                            <td>{{ property.price_per_night }}</td>
                            <td><a href="/proporties-edit?id={{property.id}}">Edit</a></td>
                            <td><a href="/proporties-delete?id={{property.id}}">Delete</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
