
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container">
          <a class="navbar-brand" href="index" id="logo"><span>T</span>ravel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="users">Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="properties">Properties</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="bookings">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="categories">Category</a>
              </li>
            </ul>
            <form class="d-flex">
              <button class="btn btn-primary"type="button"><a  href="logout" style="color:white; text-decoration: none;"> Log Out</a></button>

            </form>
          </div>
        </div>
      </nav>
    <!-- Navbar End -->